* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bee3c9;
}

.App {
  background-color: lightgreen;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  text-align: center;
}

.container {
  width: 100%;
  height: 15%;
}

.todoList {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.todoList input {
  width: 75%;
  height: 40px;
  font-size: 1.2rem;
  padding: 0 10px;

  border: none;
}

.icon {
  width: 40px;
  height: 40px;
  background: darkgreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.icon:hover {
  background: rgb(59, 215, 59);
  color: black;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TodoListContainer {
  height: 500px;
  width: 90%;
  position: relative;
  overflow-y: scroll;
  display: grid;
  place-items: center;
}

.todolistitem {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  background-color: greenyellow;
}

.name {
  font-size: 0.8rem;
  font-weight: 400;
}

.todolistitem i {
  font-size: 0.8rem;
}

.icons {
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
